/*
* BARRA SUPERIOR
*/

#top-bar{
    background-color:  #c6c4c4;
    height: 60px; 
    padding-top: 0px; 
    border-block-end: 4px solid #1a237e;
}

#top-bar-dropdown{
    margin-top: 3px; 
    padding-block-start: 2px;
    padding-block-end: 2px;
    background-color:  #c6c4c4;
    border: 0px #c6c4c4;
}


/*
* MENU IZQUIERDO
*/
#left-menu{
    width: 100%; 
    padding-top: 0 rem !important; 
    margin-top: 0 rem !important; 
    background-color: #c6c4c4;
    height: 100%;
    border-radius: 24px 24px 24px 24px;
    -moz-border-radius: 24px 24px 24px 24px;
    -webkit-border-radius: 24px 24px 24px 24px;
    border: 0px ; 
    font-size: 18px;   
}