/*
*   BARRA SUPERIOR
*/
@import url(../resources/semantic/semantic.min.css);

#top{
    margin-bottom: 1%;
}

#top-logo{
    width: 18%; 
    margin-top: 0 ; 
    margin-bottom: -1.5% ;
    padding: 0
}

#container-top{
    margin: -1.3% 0 1.5% 0; 
    padding-right: 2% !important;
}

#top-bar{
    background-image: url(../resources/images/adwebsys-fondo.jpg);
    height: 2.5%;
    padding: 0% !important;
    border-block-end: 4px solid #1a237e;
}

#top-bar-dropdown{
    color: #ffff;
    background-color:  transparent;
    border: 0px #c6c4c4;
}


/*
*   MENU IZQUIERDO
*/
#left-menu{
    height: 100%; 
    width: 100%; 
    background-image: url(../resources/images/fondo1.jpg);
    border-radius: 0px 24px 24px 0px; 
    font-size: 18px;
}

.item.active{
    background-color: #1a237e;
}

#item {
    color: #ffff;
}

#item:hover {
    background-color: #1a237e;
    color: #ffff;
}


#menu {
    margin-top: 0px !important;
    padding-top: 0px !important
}

/*
*   CONTENIDO
*/

#base-content{
    height: 90%;
}

#itemlistre:hover {
    background-color: #1a237e;
}

#encabezado {
    color: #1a237e;
    color: black;
}

#encabezado:hover {
    color: #ffffff;
}

.twelve.wide.stretched.column {
    border-block-color:  #9e9d9d ;
}

.twelve.wide.stretched.column > .segment{
    height: 85%;  
    width: 98% ;
    border-radius: 24px 24px 24px 24px;
    -moz-border-radius: 24px 24px 24px 24px;
    -webkit-border-radius: 24px 24px 24px 24px;
    border: 1px solid #1a237e;
}

.visible.content {
    color: #1a237e !important;
}

.hidden.content {
    color: #1a237e !important;
}

.circular.button {
    width: 130px;
    color: #1a237e !important;
}

.circular.button:hover {
    width: 130px;
    color: #1a237e;
}

/*
*   TABLA
*/
.button-big{
    width: 160px !important
}

.table {
    border: 0px solid #1a237e;
}

.ui.stackable.grid > .row{
    margin-top: 1%;
}

.dataTables_length > label{
    color: #1a237e !important;
}

#listas_filter > label {
    color: #1a237e !important;
}

#listas_info {
    color: #1a237e !important;
}

.pagination > a{
    color: #1a237e !important;
}

.encabezado-tabla {
    background-color: #1a237e !important;
    color: #ffff !important;
    width: 33.33% !important;
}

.encabezado-tabla-2 {
    background-color: #1a237e !important;
    color: #ffff !important;
}

.ui.centered.grid{
    margin: .5%;
}

.title-list{
    margin: .5% !important;
    color: #1a237e !important;
}

#two-dropdown{
    margin-top: .5%;
}

/*
*   MODAL
*/

#red-color{
    background: red;
    color: white;
}

#green-color{
    background: green;
    color: white;
}

.modal > .content{
    height: 100%; 
    width: 110%;
}

.fondo-modal{
    background-image: url(../resources/images/adwebsys-fondo.jpg) !important;
}

.fondo-modal > p{
    color: #ffff !important;
}

.column-equipo {
    width: 33% !important; 
    background-image: url(../resources/images/fondo8.jpg);
    padding: 0;
    border-radius: 24px 0px 0px 24px;
}

.column-marca {
    width: 33% !important; 
    background-image: url(../resources/images/marcas.jpg);
    padding: 0;
    border-radius: 24px 0px 0px 24px;
}

.column-decanato{
    width: 33% !important; 
    background-image: url(../resources/images/fondo3.PNG);
    padding: 0;
    border-radius: 24px 0px 0px 24px;
}

.column-edoEqui{
    width: 33% !important; 
    background-image: url(../resources/images/fondo5.PNG);
    padding: 0;
    border-radius: 24px 0px 0px 24px;
}

.column-fondo {
    width: 67% !important;
    background-image: url(../resources/images/adwebsys-fondo.jpg); 
    border-radius: 0px 24px 24px 0px; 
    padding: 0 !important;
}

.column-fondo > .segment{
    background-color: #ffffff !important;
    height: 15% !important;
    border-radius: 0px 24px 0px 0px !important;    
}

.column-fondo > .segment-peq {
    height: 25% !important;
}

.column-fondo > .segment > .header{
    font-size: 30px !important;
    color: #1a237e !important;
    margin-top: .5% !important;
}

/*
*   FORMULARIO
*/

.form-1{
    width: 80%; 
    margin-left: 10%;
}

.form-1 > .form {
    width: 80%; 
    margin: 10% ; 
    margin-top: 2%
}

label {
    color: #ffffff !important;
}

input {
    border-block-color: #1a237e !important;
    border-radius: 24px 24px 24px 24px !important;
}

textarea {
    border-block-color: #1a237e !important;
    border-radius: 24px 24px 24px 24px !important;
}

.form-1 > .actions{
    margin-block-end: 20px; 
    margin-block-start: 5%;
}

.actions > .container{
    margin-top: 5%;
}

.dropdown {
    border-block-color: #1a237e !important;
    border-radius: 24px 24px 24px 24px !important;
}